{% extends 'base.html' %}

{% block content %}
       <div class="jumbotron">
        <h1>42 Coffee Cups Test Assignment</h1>
         <p><table class="table", style="width: 30%; float:left">
       
                <tr><td>Name</td><td> Lyudmyla </td></tr>
                <tr><td>Last name</td><td> Kaluzhynova</td></tr>
                <tr><td>Date of birth</td><td>06-02-1980</td></tr>
                <tr><td>Bio</td><td>biography}</td></tr>
   
            </table>
            <table class="table", style="width: 30%">
                <tr><td>Contacts</td><td> </td></tr>
                <tr><td>Email</td><td> kaluzhynova@gmail.com</td></tr>
                <tr><td>Jabber</td> 
                <td>klyudmyla@42cc.co</td></tr>
                <tr><td>Skype</td> 
                <td> klyudmyla </td></tr>
                   <tr><td>Other contacts</td> 
                <td> Other contacts </td></tr>
   
          </table>
        </p>
      </div>

{% endblock %}