{% extends 'base.html' %}

{% block content %}
       <div class="jumbotron">
        <h1>42 Coffee Cups Test Assignment</h1>
         <p><table class="table", style="width: 30%; float:left">
       
                <tr><td>Name</td><td>{{ person.name }}</td></tr>
                <tr><td>Last name</td><td>{{ person.surname }}</td></tr>
                <tr><td>Date of birth</td><td>{{ person.date_birth }}</td></tr>
                <tr><td>Bio</td><td>{{ person.bio }}</td></tr>
   
            </table>
            <table class="table", style="width: 30%">
                <tr><td>Contacts</td><td> </td></tr>
                <tr><td>Email</td><td>{{ person.email }}</td></tr>
                <tr><td>Jabber</td> 
                <td>{{ person.jabber }}</td></tr>
                <tr><td>Skype</td> 
                <td>{{ person.skype }}</td></tr>
                   <tr><td>Other contacts</td> 
                <td>{{ person.other_contacts }}</td></tr>
   
          </table>
        </p>
      </div>

{% endblock %}